.footer .container {
  width: 1080px;
  padding-top: 80px;
}

.footer h1 {
  font-size: 32px;
  line-height: 40px;
  margin: 0 0 50px;
}

.footer {
  background-color: #235390;
  background-image: url("../welcome_page_img/star-pattern.svg");
  color: white;
}

.footer ul li {
  opacity: 0.5;
  padding: 5px 0px;
}

.first-li {
  opacity: 1 !important;
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 12px;
  padding: 0px !important;
}
.footer-links,
.footer-links-2 {
  padding: 24px 40px;
  font-weight: 700;
  font-size: 15px ;
}
.footer-links-2 {
  padding-bottom: 2.5rem !important;
  border-top: 2px solid hsla(0,0%,100%,.2);
}
.footer .list-div {
  padding: 0px 24px 48px 0px;
}

.footer-links-2 li {
  display: inline-block;
  font-weight: 700;
  opacity: 0.5;
  padding-right: 24px !important;
  padding-top: 6px !important;
  font-size: 13px !important;
}
.footer-mb {
  display: none;
}

@media (max-width: 767.98px) {
  .footer-mb {
    display: block !important;
  }
}
