/* DuoAboutUs */
.fakeTabs {
  border-bottom: 2px solid #e5e5e5;
}

/* Mission */
.DuoAboutUs-Mission .missionOne,
.DuoAboutUs-Mission .missionTwo {
  border-bottom: 2px solid #e5e5e5;
}

/* Approach */
.DuoAboutUs-Approach .approach-line {
  border-bottom: 2px solid #e5e5e5;
}
.DuoAboutUs-Approach .ApproachLink {
  box-shadow: #ffffff 0px 2px 4px, #ffffff 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -4px 0px inset;
}

.DuoAboutUs-Approach .ApproachLink:focus {
  box-shadow: none;
  position: relative;
  top: 0.1rem;
}

/* Team */
.DuoAboutUs-Team li {
  list-style: none;
  padding-left: 30px;
  position: relative;
  padding: .2rem;
}

.DuoAboutUs-Team li:before {
  content: "·";
  font-size: 90px;
  padding-left: 10px;
  vertical-align: middle;
  line-height: 23px;
  top: -10px;
  left: -6px;
  position: relative;
}

/* Contact Us */
