/* Navbar */
.abcNav .header {
    z-index: 1000;
  }
  
  .abcNav .appleLink {
    box-shadow: #ffffff 0px 2px 4px, #ffffff 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -4px 0px inset;
  }
  .abcNav .appleLink:focus {
    box-shadow: none;
    position: relative;
    top: 0.1rem;
  }
  .mobileApple {
    display: none;
  }
  
  /* Header */
  .abc-Header {
    box-sizing: inherit !important;
    border-bottom: 2px solid #e5e5e5;
  }
  .abc-Header .monkey-gif {
    /* background-image: url("../img/abc/m-bg.svg"); */
    background-image: url("../img/abc/m-bg.svg");
    background-repeat: no-repeat;
  }
  .abc-Header .headerAbcLink {
    box-shadow: #ffffff 0px 2px 4px, #ffffff 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -4px 0px inset;
  }
  .abc-Header .headerAbcLink:focus {
    box-shadow: none;
    position: relative;
    top: 0.1rem;
  }
  .abc-Header .mobileMonkey {
    display: none;
  }
  
  /* WayToLearn */
  .abc-wayToLearn .interactive-gif, 
  .abc-wayToLearn .lessons-gif,
  .abc-wayToLearn .games-gif {
    background-repeat: no-repeat;
    background-size: cover;
    height: 361px;
    border-radius: 2rem;
  }
  
  .abc-wayToLearn .interactive-gif {
    background-color: #1cb0f6;
    background-image: url("../img/abc/i-bg.svg");
  }
  .abc-wayToLearn .lessons-gif {
    background-color: #ff9600;
    background-image: url("../img/abc/l-bg.svg");
  }
  
  .abc-wayToLearn .games-gif {
    background-color: #ff5c5c;
    background-image: url("../img/abc/g-bg.svg");
  }
  
  .abc-wayToLearn .mobile-blue {
    background-color: rgb(0, 128, 202);
  }
  .abc-wayToLearn .mobile-orange {
    background-color: #ff9600;
  }
  .abc-wayToLearn .mobile-red {
    background-color: #ff5c5c;
  }
  
  .abc-wayToLearn .gifsSlider {
    display: none;
  }
  .abc-wayToLearn .slick-arrow ,.abc-wayToLearn .slick-next {
    display: none !important;
  }
  
  
  /* Printable */
  .Printable .printable-link {
    box-shadow: #a570ff 0px 2px 4px, #a570ff 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -4px 0px inset;
  }
  .Printable .printable-link:focus {
    box-shadow: none;
    position: relative;
    top: 0.1rem;
  }
  
  /* Footer */
  .abc-footer {
    background-image: url('../img/abc/footer-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .abc-footer .abc-footer-link {
    box-shadow: #1cb0f6 0px 2px 4px, #1cb0f6 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -4px 0px inset;
  }
  .abc-footer .abc-footer-link:focus {
    box-shadow: none;
    position: relative;
    top: 0.1rem;
  }
  
  /* Media */
  
  @media (max-width: 767.98px) {
    .abc-Header .deskMonkey {
      display: none;
    }
    .abc-Header .mobileMonkey {
      display: flex;
      justify-content: center;
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
    .abc-Header {
      box-sizing: border-box;
      padding-top: 2rem;
    }
    .abc-Header-Container {
      display: block;
      overflow: auto;
      height: auto;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  
    .mobileApple {
      display: block;
    }
    .deskApple {
      display: none;
    }
  
    .abc-wayToLearn .gifsSlider {
      display: flex;
    }
  
    .abc-wayToLearn .desk-Gifs {
      display: none;
    }
  }
  
  @media (max-width: 400px) {
    .abc-Header .mobileText {
      font-size: 21px;
    }
  
    .abc-wayToLearn .mobileText {
      font-size: 22px;
    }
    .abc-wayToLearn {
      padding-top: 2rem;
    }
  }
  