/* OurMission */
.e-OurMission-container {
    width: 1080px;
}
.e-OurMission img {
    width: 130rem;
}
.e-OurMission p:nth-child(1){
    align-self: flex-end;
    color: #58cc02;
    font-family: feather,sans-serif;
    line-height: 100%;
    margin-bottom: 32px;
    text-align: left;
    font-size: 77px;
    font-weight: 700;
}
.e-OurMission p:nth-child(2){
    color: #4b4b4b;
    font-size: 19px;
    line-height: 142.1%;
}
.e-gizle {
    display: none;
}

/* ListenRead */
.e-ListenRead-Container {
    width: 1080px;
    border-top: 2px solid #e5e5e5;

}
.e-ListenRead-Container img {
    width: auto;
}
.e-ListenRead-Container {
    color: #4b4b4b;
    font-size: 18px;
    line-height: 142.1%;
}

.e-ListenRead-Container p {
    color: #58cc02;
    font-family: feather,sans-serif;
    font-size: 62px;
    line-height: 100%;
    margin: 0 16px 24px;
    font-weight: 700;
    margin-bottom: 32px;
    text-align: center;
}

.e-ListenRead-Container a , .e-blue {
    color: #1cb0f6;
    font-weight: 700;
}

/* Speaking */
.e-Speaking-Container{
    width: 1080px;
    border-top: 2px solid #e5e5e5;
    color: #4b4b4b;
    font-size: 18px;
    line-height: 142.1%;
}
.e-Speaking-Container .e-speak-p {
    color: #58cc02;
    font-family: feather,sans-serif;
    line-height: 100%;
    margin: 0 16px 24px;
    font-size: 62px;
    margin-bottom: 32px;
    font-weight: 700;
}

.e-Speaking-Container .e-speak-a , .e-Contact-container .e-speak-a  {
    font-weight: 700;
    justify-content: center;
    letter-spacing: .8px;
    line-height: 1;
    font-size: 15px;
    background-color: #1cb0f6;
    padding: 15.5px 16px;
    border-radius: 16px;
    color: white;
    box-shadow: #235390 0px 2px 4px, #ffffff 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.e-Speaking-Container .e-speak-a:focus , .e-Contact-container .e-speak-a:focus {
    box-shadow: none;
    position: relative;
    top: .2rem;
}

/* Levels */
.e-level-Container {
    width: 1080px;
    padding: 7rem;
    border-top: 2px solid #e5e5e5;
}

.e-level-Container .e-img {
    max-width: 25rem;
}

.e-level-Container h2 {
    color: #3c3c3c;
    font-size: 24px;
    line-height: 26px;
    margin: 0 0 25px;
    font-weight: 700;
}
.e-beBlock {
    display: none !important;
}

.e-level-Container .beCenter {
    display: flex !important;
    justify-content: center !important;
}
.e-level-Container p {
    color: #4b4b4b;
    font-size: 19px;
    line-height: 142.1%;
}
/* Contact */
.e-Contact-container  {
    width: 1080px;
    padding: 4rem;
    padding-bottom: 3rem;
    border-top: 2px solid #e5e5e5;
}

/* Footer */
.e-Footer-Container {
    border-top: 2px solid #e5e5e5;
    width: 1080px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.e-Footer-Container li {
    color: #777;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    text-transform: uppercase;
    line-height: 1;
    margin: 10px;
    opacity: .8;
}
.e-Footer-Container li:hover {
    opacity: 1;
}

/* Media */

@media (max-width: 1022px) {
    .e-OurMission img {
        width: auto;
    }
    .e-gizle {
        display: block;
    }
    .e-OurMission img {
        width: auto;
        display: flex;
        padding-left: 30%;
    }
    .e-goster {
        display: none;
    }
    
}

@media (max-width: 960px) {
    .e-beHide {
        display: none !important;
    }
    .e-beBlock {
        display: block !important;
    }
    .e-makeAuto {
        display: block;
    }
    .e-level-Container {
        padding: .5rem;
        padding-top: 4rem;
        padding-bottom: 3rem;
    }
    .e-level-Container .e-img {
        max-width:16rem;
    }
}


@media (max-width: 638px) {
    .e-OurMission img {
        padding-left: 8%;
    }
    .e-OurMission p:nth-child(1), .e-ListenRead-Container p ,.e-Speaking-Container p  {
        font-size: 48px;
    }





    .e-level-Container .e-img {
        width: auto !important;
    }
    .e-level-Container .e-img {
        max-width:13rem;
    }
    
}
